# CFG LOADBALANCER NEWBIE STORE [ $domain ]
global
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 1d
    tune.h2.initial-window-size 2147483647
    pidfile /run/haproxy.pid
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
defaults
    log global
    mode tcp
    option dontlognull
    timeout connect 60s
    timeout client  300s
    timeout server  300s
frontend http_frontend
    bind *:80 tfo
    bind *:8080 tfo
    bind *:8880 tfo
    bind *:2080 tfo
    bind *:2082 tfo
    mode tcp
    tcp-request inspect-delay 2s
    tcp-request content accept if HTTP
    acl is_panel req.payload(0,50) -m sub /panel
    acl is_api req.payload(0,50) -m sub /api/
    use_backend api_panel if is_panel or is_api
    default_backend dropbear_backend
frontend https_frontend
    bind *:443 ssl crt /etc/haproxy/hap.pem alpn h2,http/1.1 tfo
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    acl is_panel req.payload(0,50) -m sub /panel
    acl is_api req.payload(0,50) -m sub /api/
    acl is_http2 ssl_fc_alpn -i h2
    use_backend api_panel if is_panel or is_api
    use_backend grpc_backend if is_http2
    default_backend dropbear_backend
backend api_panel
    mode tcp
    server wendy_api 127.0.0.1:9000 check inter 5s fall 3 rise 2
backend dropbear_backend
    mode tcp
    server dropbear_server 127.0.0.1:58080 check
backend ws_backend
    mode tcp
    server ws_server 127.0.0.1:1010 check
backend grpc_backend
    mode tcp
    server grpc_server 127.0.0.1:1013 check
